# --- MAVEN
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- JAVA ESPECÍFICO ---
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*

# --- SISTEMA OPERATIVO ---
.DS_Store
.AppleDouble
.LSOverride
Icon

# --- IDEs ---
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.nbsetup/